*~
.#*
\#*#
ENV/*
slurm-*
!ENV/VIRTUALENV
__pycache__

playbooks/beegfs/configurations/*
!playbooks/beegfs/configurations/README.md

playbooks/cassandra/configurations/*
!playbooks/cassandra/configurations/README.md

inventory_*.yml

benchmarks/minio/s3-benchmark/benchmark.log
